@{
    ViewBag.Title = "About";
}
<div class="container jumbotron">
    <h1><b>Who are we?</b></h1>
    <p>
        We are some few energetic young entrepreneur from Bangladesh working for sustainable food consumption for mass people and creating income source for stay home people or who are interested to make extra income working from home.

        We are addressing two major issues, One, the hygienic food and Second, Women empowerment. There are enormous problem for hygienic food supply and people are suffering from unhygienic food related disease. We want to deliver hygienic food to the customer by following the guideline of Bangladesh Food Safety Authority. There are huge number of unemployed women who live inside the home and have no income source. They want to earn working from home. We want to help them in this matter by providing them all sorts of support which they need to earn money working from home.
    </p>
</div>

