@{
    ViewBag.Title = "Contact";
}

<div class="container jumbotron text-center">
    <address>
        The Cookants Ltd<br />
        House no-652,Road no-9,Mirpur DOHS<br />
        <abbr>Mobile: +8801638777888</abbr>
        
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:hello@cookants.com">hello@cookants.com</a><br />
    </address>
</div>
