@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Cookents Limited</h1>
    <p class="lead">This is Cookents Limited</p>
    <p>Hera a Lot of product, @Html.ActionLink("Try to Shop Now", "Customer", "POS")</p>
</div>
